{% extends 'base_dashboard.html.twig' %}

{% block content %}
    <div class="overview">

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Go !</button>
            {{ form_end(form) }}
        </div>

        <div class="splits row">

            {% for split in splitters %}
                <div class="col-md-6 col-xxl-4">
                    <div class="card mb-4">
                        <div class="cardIcons">
                            {% if split.ownedBy == app.user %}
                                <a href="{{ path('app_splitter_edit', {'id' : split.id }) }}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            {% endif %}
                            <a href="{{ path('app_expense_new', {'id' : split.id }) }}">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </div>
                        <div class="card-header">
                            <h4 class="card-title text-dark">{{ split.name }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Créé par :
                                    {{ split.ownedBy.firstName ~ ' ' ~ split.ownedBy.lastName }},
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Membres :
                                {% for member in split.members %}
                                    {{ member.nickname ~ ' ' }},
                                {% endfor %}
                            </h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for expense in split.expenses|sort((a,b) => b.madeAt <=> a.madeAt)|slice(0,3) %}
                                <li class="list-group-item expenseItemList">
                                    <div class="expenseDate">
                                        <p>{{ expense.createdAt|format_datetime(locale='fr', pattern="MMM")|upper }}</p>
                                        <p>{{ expense.createdAt|format_datetime(locale='fr', pattern="dd")|upper }}</p>
                                    </div>
                                    <div class="expenseInfos">
                                        <p>{{ expense.paidBy.nickname }} a payé pour {{ expense.name }}</p>
                                        <p><i class="bi bi-person-fill"></i>Bénéficiaire : comming soon</p>
                                    </div>
                                    <div class="expenseAmount">
                                        <span>{{ expense.amount ~ expense.devise }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <a class="link-card" href="{{ path('app_splitter_show', {id: split.id}) }}"></a>
                    </div>

                </div>
            {% endfor %}


        </div>

        <div class="container d-flex justify-content-center">{{ knp_pagination_render(splitters) }}</div>

        <div id="addSplitterBtn" class="plus-icons">
            <a class="btn btn-primary rounded-circle" href="{{ path('app_splitter_new') }}"><i class="bi bi-plus-lg"></i></a>
        </div>


    </div>

{% endblock %}