{% extends 'base.html.twig' %}

{% block title %}Depense {{ expense.name }}{% endblock %}

{% block body %}

    <main class="expenseView container-md">

        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>{{ expense.name }}</h1>

            <div class="d-flex align-items-center gap-4">
                {% if splitter.owner == app.user.appUser or expense.addedBy == app.user.appUser %}
                    <a class="nav-link" href="{{ path('app_expense_edit', {'expense_id' : expense.id, 'splitter_id': splitter.id}) }}" title="Editer le groupe"><i class="bi bi-pencil-square"></i></a>

                    <twig:Form:DeleteForm
                            entity='expense'
                            id='{{ splitter.id }}'
                            id2='{{ expense.id }}'
                            title="Supprimer la dépense"
                    />
                {% endif %}

                <a class="nav-link" href="{{ path('app_splitter_show', {'id' : splitter.id }) }}" title="Retour">
                    <i class="bi bi-arrow-return-left"></i>
                </a>

            </div>
        </div>


        <div class="expenseCard">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Informations de la dépense</h2>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <p>Payé par :</p>
                        <p>{{ expense.paidBy.nickname }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Le :</p>
                        <p>{{ expense.madeAt|date("d/m/Y") }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Catégorie :</p>
                        <p>{{ expense.category.name }}</p>
                    </div>
                    <div class="list-group-item">
                        <p>Montant :</p>
                        <p>{{ expense.amount ~ ' ' ~ expense.devise }}</p>
                    </div>
                    <div class="list-group-item">
                        <p><i class="bi bi-person-fill"></i> Bénéficiaires :</p>
                        <p>
                            {% for beneficiary in expense.beneficiaries %}
                                <span>{{ beneficiary.nickname }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    {% if expense.picture %}
                        <div class="list-group-item">
                            <p>Photo :</p>
                            <p>
                                <img src="{{ vich_uploader_asset(expense, 'pictureFile') }}" alt="Photo de la dépense">
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </main>

{% endblock %}
