<div
        {{ attributes }}
>
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.name, {
        label: 'Nom du splitter',
        attr: {
            placeholder: 'Voyage à ...',
            class: 'text-light'
        },
        row_attr: {
            class: 'form-floating mb-3 text-light'
        }
    }) }}

    {{ form_row(form.description, {
        label: 'Description du splitter',
        attr: {
            placeholder: 'Splitter pour le voyage à ...'
        },
        row_attr: {
            class: 'form-floating mb-3 text-light'
        }
    }) }}

    {{ form_row(form.category, {
        label: 'Catégorie',
        row_attr: {
            class: 'form-floating mb-3 text-light'
        }
    }) }}

    <p>Ajouter des membres</p>

        {% for key, memberForm in form.members %}
            {% set myLabel = (key == 0)
                ? 'Votre Nom'
                : 'Autre Participant'
            %}
            {% set nickname = (key == 0)
                ? app.user.firstName
                : (memberForm.vars.value
                    ? memberForm.vars.value.nickname
                    : '')
            %}

            <div class="d-flex gap-2 align-items-center">
                {{ form_row(memberForm.nickname, {
                    label: myLabel,
                    row_attr: {
                        class: 'form-floating mb-3 flex-grow-1'
                    },
                    attr: {
                        placeholder: 'Pseudo',
                        value: nickname
                    }
                }) }}

                {%  if myLabel != 'Votre Nom' %}
                    {{ form_row(memberForm.vars.button_delete, {
                        label: false,
                        row_attr: {
                            class: 'mb-3'
                        },
                        attr: {
                            class: 'btn btn-danger p-2 corbeille bi bi-trash',
                        }
                    }) }}
                {% endif %}

            </div>

        {% endfor %}

    {{ form_errors(form.members) }}
    {{ form_widget(form.members.vars.button_add, {label: '+ Ajouter un membre', attr: {class: 'btn btn-outline-primary'}}) }}

    <button type="submit" class="btn btn-success" formnovalidate>{{ this.buttonLabel|default('Créer') }}</button>
    {{ form_end(form) }}
</div>
