{% extends 'base.html.twig' %}

{% block title %}Splitter{% endblock %}

{% block body %}

    <main class="container-md">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1 class="m-0">{{ splitter.name }}</h1>
{#            <div class="d-flex align-items-center gap-4">#}
{#                <a class="nav-link" href=""><i class="bi bi-share-fill"></i></a>#}
{#                {% if splitter.owner in app.user.members %}#}
{#                    <a class="nav-link" href="{{ path('app_splitter_edit', {'id': splitter.id}) }}"><i class="bi bi-pencil-square"></i></a>#}
{#                    <twig:Form:DeleteForm#}
{#                            entity='splitter'#}
{#                            id='{{ splitter.id }}'#}
{#                            title="Supprimer le splitter"#}
{#                    />#}
{#                {% endif %}#}
{#            </div>#}
        </div>

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="centerBtn">
                <button class="btn btn-primary">{{ button_label|default('Partager le splitter') }}</button>
            </div>

            {{ form_end(form) }}

        </div>



    </main>



{% endblock %}
