{% extends 'base.html.twig' %}

{% block title %}Kopeck - Détail du groupe{% endblock %}

{% block body %}

    <main class="splitterView container-md">
        <!-- Header : title + icons -->
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1 class="m-0">{{ splitter.name }}</h1>

            <div class="d-flex align-items-center gap-4">
                {% if not app.user or (splitter not in app.user.appUser.favoriteSplitters)  %}
                    <div>
                        <button type="button" class="btn btn-info">
                            <a class="nav-link" href="{{ path('app_splitter_join', {'id': splitter.id}) }}" title="Rejoindre">Rejoindre</a>
                        </button>
                    </div>
                {% endif %}
                {% if app.user %}
                    {% if splitter in app.user.appUser.favoriteSplitters %}
                        <a class="nav-link" href="{{ path('app_splitter_leave', {'id': splitter.id}) }}" title="Quitter le Splitter"><i class="bi bi-box-arrow-right"></i></a>
                    {% endif %}

                    <a class="nav-link" href="{{ path('app_expense_new', {'splitter_id': splitter.id}) }}" title="ajouter une dépense"><i class="bi bi-bag-plus-fill"></i></a>

                    <div style="cursor:pointer;" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-share-fill"></i>
                    </div>

                    {% if splitter.owner == app.user.appUser %}
                        <a class="nav-link" href="{{ path('app_splitter_edit', {'id': splitter.id}) }}" title="Editer le splitter"><i class="bi bi-pencil-square"></i></a>
                        <twig:Form:DeleteForm
                                entity='splitter'
                                id='{{ splitter.id }}'
                                title="Supprimer le groupe"
                        />
                    {% endif %}
                    <a class="nav-link" href="{{ path('app_home') }}" title="Retour home">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>

                {% endif %}
            </div>

        </div>

        {% if app.user %}
            <!-- Modal pour partage du groupe -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div id="modal" class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Partagez votre groupe</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                        </div>
                        <div class="modal-body d-flex flex-column justify-content-between gap-2" data-controller="clipboard" data-clipboard-success-content-value="Copié !">
                            <input class="form-control" type="text" value="{{ url('app_splitter_guest_show', {'id': splitter.id, 'unique_id': splitter.uniqueId}) }}" data-clipboard-target="source" readonly>
                            <button type="button" class="btn btn-primary align-self-center" data-action="clipboard#copy" data-clipboard-target="button">Copier</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary">
                                <a class="nav-link" href="{{ path('app_splitter_share', {'id': splitter.id}) }}" title="Partager par mail">Partager par Mail</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <p>
            Membres :
            {% for member in splitter.members %}
                {{ member.nickname }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>Description : {{  splitter.description }}</p>


        <ul class="nav nav-tabs d-flex" id="myTab" role="tablist">
            <li class="card nav-item" role="presentation">
                <a class="nav-link active p-0" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                    <div class="card-header">
                        <h3 class="card-title">Dépenses</h3>
                    </div>
                </a>
            </li>
            <li class="card nav-item" role="presentation">
                <a class="nav-link p-0" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                    <div class="card-header">
                        <h3 class="card-title">Balance</h3>
                    </div>
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="expenseCard">
                    <div class="card mb-4">
                        <ul class="list-group list-group-flush">
                            {% for expense in splitter.expenses %}
                                <li class="list-group-item expenseItemList">
                                    <div class="expenseDate">
                                        <p>{{ expense.createdAt|format_datetime(locale='fr', pattern="MMM")|upper }}</p>
                                        <p>{{ expense.createdAt|format_datetime(locale='fr', pattern="dd")|upper }}</p>
                                    </div>
                                    <div class="expenseInfos flex-grow-1">
                                        <p>{{ expense.paidBy.nickname }} a payé pour {{ expense.name }}</p>
                                        <p>
                                            <i class="bi bi-person-fill"></i>Bénéficiaires :
                                            {% for beneficiary in expense.beneficiaries %}
                                                <span>{{ beneficiary.nickname }}</span>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="expenseAmount">
                                        <span>{{ expense.amount ~ expense.devise }}</span>
                                    </div>
                                    <a class="linkExpense" href="{{ path(('app_expense_show'), {'expense_id' : expense.id, 'splitter_id': splitter.id}) }}" title="Cliquer pour éditer"></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="balanceCard">
                    <div class="card mb-4">
                        <ul class="list-group list-group-flush">
                            {% for member in splitter.members %}
                                <li class="list-group-item balanceItemList">
                                    <div class="memberName">
                                        <p>{{ member.nickname }}</p>
                                    </div>
                                    <div>
                                        <span class="badge {{ balancePerId[member.id] < 0 ? "bg-warning text-dark" : "bg-success" }}">{{ balancePerId[member.id]|round(2) }}€</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="balanceCard">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">Régler les dettes !</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for transfer in transfers %}
                                <li class="list-group-item d-flex align-items-center gap-3">
                                    <div class="memberName py-1">
                                        <p class="m-0">
                                            <span class="fw-bold">{{ transfer['from'].nickname }}</span>
                                            doit
                                            <span class="text-decoration-underline">{{ transfer['amount']|round(2) }}€</span>
                                            à
                                            <span class="fw-bold">{{ transfer['to'].nickname }}</span>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}