{% extends 'base.html.twig' %}

{% block title %}Splitter{% endblock %}

{% block body %}

    <main class="container-md">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1 class="m-0">{{ splitter.name }}</h1>
            <div class="d-flex align-items-center gap-4">
                <a class="nav-link" href="{{ path('app_splitter_share', {'id': splitter.id}) }}"><i class="bi bi-share-fill"></i></a>
                {% if splitter.ownedBy == app.user %}
                    <a class="nav-link" href="{{ path('app_splitter_edit', {'id': splitter.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    {{ include('splitter/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>

        <div class="expenseCard">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title text-dark">Liste des dépenses</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% for expense in splitter.expenses %}
                        <li class="list-group-item d-flex align-items-center gap-3">
                            <div class="expenseDate">
                                <p>{{ expense.createdAt|format_datetime(locale='fr', pattern="MMM")|upper }}</p>
                                <p>{{ expense.createdAt|format_datetime(locale='fr', pattern="dd")|upper }}</p>
                            </div>
                            <div class="expenseDate flex-grow-1">
                                <p>{{ expense.paidBy.firstName }} a payé pour {{ expense.name }}</p>
                                <p><i class="bi bi-person-fill"></i>Bénéficiaire : comming soon</p>
                            </div>
                            <div>
                                <span>{{ expense.amount ~ expense.devise }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="balanceCard">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title text-dark">Balances</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% for member in splitter.members %}
                        <li class="list-group-item d-flex align-items-center gap-3">
                            <div class="memberName">
                                <p>{{ member.firstName ~ ' ' ~ member.lastName }}</p>
                            </div>
                            <div>
                                <span>{{ balancePerId[member.id] }}€</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {{ dump(splitter.members) }}

        {{ dump(transfers) }}

        <div class="balanceCard">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title text-dark">Régler les dettes !</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% for transfer in transfers %}
                        <li class="list-group-item d-flex align-items-center gap-3">
                            <div class="memberName">
                                <p>{{ transfer['from'].firstName ~ ' doit ' ~ transfer['amount']|round(2) ~ '€ à ' ~ transfer['to'].firstName }}</p>
                            </div>
                            <div>
                                <span>€</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>





    </main>

    {{ dump(splitter.members) }}
    {% if app.user in splitter.members %}
        <p>YES !</p>

    {% endif %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ splitter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ splitter.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_splitter_index') }}">back to list</a>

    <a href="{{ path('app_splitter_edit', {'id': splitter.id}) }}">edit</a>

    {{ include('splitter/_delete_form.html.twig') }}
{% endblock %}
